th:first-child {
    width: 20px;
}
th {
    border: 5px black solid;
}
td {
    border: 5px black solid;
}
table {
    border-collapse: collapse;
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fbfbfb url('');
}

.visible {
    visibility: visible;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
