.btnTodo{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    height: 100px;
}

.btnTodo button{
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(245, 245, 245);
    border-radius: 1px;
    cursor: pointer;
    height: 100px;
}

.btnTodo button:hover{
    background-color: black;
}