*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Users{
    background-image: url(./b12f1fff8f2c65d5c861fffb6fbcbb81f23da3d8.jpg) ;
    background-repeat: no-repeat;
    background-size: auto;
}